.header {
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px 35px;
  box-sizing: border-box;
  z-index: 10;
  transition: top 0.2s ease-in-out; }
  @media only screen and (max-width: 799px) {
    .header {
      position: fixed;
      justify-content: space-between;
      background-color: #24345C;
      top: 0;
      padding: 8px 20px; } }
  .header .header__burger {
    display: none;
    position: relative;
    height: 20px;
    width: 27px;
    cursor: pointer; }
    @media only screen and (max-width: 799px) {
      .header .header__burger {
        display: block; } }
    .header .header__burger .header__burger___line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all .3s ease-in-out; }
      .header .header__burger .header__burger___line:nth-of-type(1) {
        top: 0px; }
      .header .header__burger .header__burger___line:nth-of-type(2) {
        top: 9px; }
      .header .header__burger .header__burger___line:nth-of-type(3) {
        bottom: 0; }
    .header .header__burger.active {
      position: relative; }
      .header .header__burger.active .header__burger___line {
        position: absolute;
        bottom: 9px; }
        .header .header__burger.active .header__burger___line:nth-of-type(1) {
          transform: rotate(45deg);
          top: 9px; }
        .header .header__burger.active .header__burger___line:nth-of-type(2) {
          opacity: 0; }
        .header .header__burger.active .header__burger___line:nth-of-type(3) {
          transform: rotate(-45deg); }
  .header .logo {
    padding-right: 24px; }
  .header .header__nav {
    width: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 799px) {
      .header .header__nav {
        position: absolute;
        left: 0;
        top: 67px;
        width: 100%;
        height: calc(100vh - 67px);
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 40px 25px;
        box-sizing: border-box;
        z-index: 10;
        visibility: visible;
        overflow: hidden;
        transform: translateX(-100%);
        background-color: #24345C;
        transition: all 0.4s ease-in-out; } }
    .header .header__nav.slide-in {
      transform: translateX(0);
      visibility: visible; }
    .header .header__nav .header__links {
      display: flex; }
      @media only screen and (max-width: 799px) {
        .header .header__nav .header__links {
          order: 2;
          flex-direction: column; } }
      .header .header__nav .header__links li a {
        display: block;
        padding: 0 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: white; }
        @media only screen and (max-width: 799px) {
          .header .header__nav .header__links li a {
            padding: 16px 0;
            font-size: 30px; } }
    .header .header__nav .btn {
      margin: 0 auto; }
      @media only screen and (max-width: 799px) {
        .header .header__nav .btn {
          order: 3; } }
    .header .header__nav .header__panel {
      display: flex; }
      @media only screen and (max-width: 799px) {
        .header .header__nav .header__panel {
          order: 1;
          justify-content: space-between; } }
      .header .header__nav .header__panel .header__lang {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: 40px; }
        .header .header__nav .header__panel .header__lang a {
          display: block; }
          .header .header__nav .header__panel .header__lang a img {
            display: block; }
          .header .header__nav .header__panel .header__lang a.chevron {
            margin-left: 4px; }

footer {
  background: #24345C; }
  footer .container-xl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px; }
    @media only screen and (max-width: 799px) {
      footer .container-xl {
        flex-direction: column;
        width: 100%; } }
  footer .footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0; }
    @media only screen and (max-width: 799px) {
      footer .footer__upper {
        flex-direction: column;
        padding-bottom: 0; } }
    footer .footer__upper > div,
    footer .footer__upper > ul {
      padding: 10px 0; }
    footer .footer__upper a {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: white; }
    footer .footer__upper .footer__nav,
    footer .footer__upper .footer__location {
      border-right: 1px solid #6D7893; }
      @media only screen and (max-width: 799px) {
        footer .footer__upper .footer__nav,
        footer .footer__upper .footer__location {
          border-right: none;
          border-bottom: 1px solid #6D7893; } }
    footer .footer__upper .footer__cta {
      width: 15%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 799px) {
        footer .footer__upper .footer__cta {
          order: 3;
          padding: 35px 0 0 0;
          align-items: flex-start; } }
      footer .footer__upper .footer__cta p {
        margin-bottom: 24px;
        color: white;
        font-size: 12px;
        font-weight: 300;
        text-align: center; }
        @media only screen and (max-width: 799px) {
          footer .footer__upper .footer__cta p {
            display: none; } }
      footer .footer__upper .footer__cta .btn {
        font-size: 14px;
        padding: 10px 24px; }
    footer .footer__upper .footer__nav {
      width: 15%; }
      footer .footer__upper .footer__nav li {
        margin-bottom: 16px; }
      @media only screen and (max-width: 799px) {
        footer .footer__upper .footer__nav:first-of-type {
          order: 1;
          padding-bottom: 0;
          border: 0; } }
      @media only screen and (max-width: 799px) {
        footer .footer__upper .footer__nav:last-of-type {
          order: 2;
          padding-top: 0;
          border: 0; } }
    footer .footer__upper .footer__location {
      width: 25%; }
      @media only screen and (max-width: 799px) {
        footer .footer__upper .footer__location {
          order: 5;
          padding-top: 40px;
          padding-bottom: 40px;
          border: none; } }
      footer .footer__upper .footer__location > p {
        margin-bottom: 5px; }
      footer .footer__upper .footer__location p {
        color: white; }
      footer .footer__upper .footer__location .directions {
        display: flex;
        align-items: center;
        margin-bottom: 16px; }
        footer .footer__upper .footer__location .directions img {
          width: auto;
          margin-right: 10px; }
      footer .footer__upper .footer__location .opening-hours p {
        font-size: 13px;
        margin-bottom: 0; }
    footer .footer__upper .footer__social {
      width: 15%; }
      @media only screen and (max-width: 799px) {
        footer .footer__upper .footer__social {
          order: 4;
          padding-top: 40px;
          padding-bottom: 40px;
          border-bottom: 1px solid #6D7893; } }
      footer .footer__upper .footer__social a {
        display: inline-block; }
        footer .footer__upper .footer__social a svg {
          width: 40px;
          height: 40px;
          display: block; }
          footer .footer__upper .footer__social a svg path {
            transition: all .2s ease-in-out; }
        footer .footer__upper .footer__social a:hover svg path {
          fill: #50E3B3; }
    @media only screen and (max-width: 799px) {
      footer .footer__upper .footer__nav,
      footer .footer__upper .footer__location,
      footer .footer__upper .footer__cta,
      footer .footer__upper .footer__social {
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;
        width: 100%; } }
  footer .footer__lower {
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid #6D7893; }
    @media only screen and (max-width: 799px) {
      footer .footer__lower {
        width: auto;
        padding: 40px 0 0 0; } }
    footer .footer__lower .container-xl {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media only screen and (max-width: 799px) {
        footer .footer__lower .container-xl {
          flex-direction: column;
          align-items: flex-start; } }
      footer .footer__lower .container-xl a, footer .footer__lower .container-xl p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 300;
        color: white; }
        @media only screen and (max-width: 799px) {
          footer .footer__lower .container-xl a, footer .footer__lower .container-xl p {
            padding-left: 35px;
            padding-right: 35px; } }
      @media only screen and (max-width: 799px) {
        footer .footer__lower .container-xl a:first-of-type {
          margin-bottom: 16px; } }
      footer .footer__lower .container-xl p {
        font-family: 'Montserrat', sans-serif; }
        @media only screen and (max-width: 799px) {
          footer .footer__lower .container-xl p {
            width: 100%;
            box-sizing: border-box;
            font-size: 10px;
            border-top: 1px solid #6D7893;
            padding: 16px 35px;
            margin-top: 35px; } }

html {
  height: 100%; }

body {
  margin: 0; }
  body.overflow {
    overflow: hidden; }
  body.pricing .header {
    background-color: #24345C; }
  body.home .header {
    position: absolute; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 48px; }
  @media only screen and (max-width: 799px) {
    h1 {
      font-size: 21px; } }

h2 {
  font-size: 38px;
  line-height: 46px;
  color: #414042; }
  @media only screen and (max-width: 799px) {
    h2 {
      font-size: 21px;
      line-height: 30px; } }

h3 {
  font-size: 20px;
  line-height: 32px;
  color: #6B696C; }
  @media only screen and (max-width: 799px) {
    h3 {
      font-size: 14px;
      line-height: 22px; } }

p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  color: #414042; }
  @media only screen and (max-width: 799px) {
    p {
      font-size: 14px;
      line-height: 22px; } }

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  object-fit: cover; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

button {
  outline: none;
  border: none;
  background: transparent; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
  background: #50E3B3;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  transition: background .2s ease-in-out;
  font-size: 18px;
  padding: 18px 24px;
  border-radius: 32px;
  line-height: 24px; }
  @media only screen and (max-width: 799px) {
    .btn {
      width: 100%; } }
  .btn_border {
    background: transparent;
    border: 2px solid #50E3B3; }
  .btn_green {
    background: #50E3B3; }
  .btn_blue {
    background: #24345C; }
  .btn_lorange {
    background: #FFCD81; }
  .btn_orange {
    background: #FFB74A; }
  .btn_blue {
    background: #24345C; }
  .btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 16px; }
    .btn_icon svg {
      padding-right: 16px; }
    .btn_icon:hover {
      background: #4CD2A7; }

.btn-login {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white; }
  .btn-login svg {
    margin-left: 8px; }

.container-sm {
  width: 850px;
  margin: 0 auto; }

.container-md {
  width: 1080px;
  margin: 0 auto; }

.container-xl {
  width: 1230px;
  margin: 0 auto; }

@media only screen and (max-width: 799px) {
  .container-sm,
  .container-md,
  .container-xl {
    width: 100%; } }

.search-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .search-form label, .search-form p {
    color: black; }
  .search-form .input-container {
    position: relative;
    box-sizing: border-box; }
    @media only screen and (max-width: 799px) {
      .search-form .input-container {
        margin-bottom: 16px; } }
    .search-form .input-container.location {
      width: calc(50% - 4px); }
      @media only screen and (max-width: 799px) {
        .search-form .input-container.location {
          width: 100%; } }
    .search-form .input-container.type {
      width: calc(25% - 4px); }
      @media only screen and (max-width: 799px) {
        .search-form .input-container.type {
          width: 100%; } }
    .search-form .input-container input,
    .search-form .input-container select {
      width: 100%;
      height: 56px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      box-sizing: border-box;
      background: white;
      font-size: 16.2px;
      font-family: 'Source Sans Pro', sans-serif;
      padding-left: 16px; }
    .search-form .input-container select:focus .icon24, .search-form .input-container select:active .icon24 {
      transform: rotate(90deg); }
    .search-form .input-container .icon24 {
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px;
      pointer-events: none;
      transition: transform .2s ease-in-out; }
  .search-form .btn {
    width: calc(25% - 4px);
    height: 56px; }
    @media only screen and (max-width: 799px) {
      .search-form .btn {
        width: 100%; } }

.baner-lg,
.banner-sm {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .baner-lg img,
  .banner-sm img {
    width: 100%;
    height: auto; }

.baner-sm {
  max-width: 728px;
  max-height: 90px; }
  @media only screen and (max-width: 799px) {
    .baner-sm {
      max-width: 300px;
      max-height: 50px; } }

.baner-lg {
  max-width: 970px;
  max-height: 250px;
  margin: 90px auto; }
  @media only screen and (max-width: 799px) {
    .baner-lg {
      max-width: 300px; } }

@media only screen and (max-width: 799px) {
  section {
    padding: 0 24px; } }

.homepage .hero-search {
  height: 100vh;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.0001) 13%, rgba(0, 0, 0, 0.3) 96.75%), url(../images/homepage_01.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .homepage .hero-search .container-sm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .homepage .hero-search .container-sm h1 {
      margin: auto 0;
      padding-top: 86px;
      text-align: center;
      color: white; }

.homepage .homepage_about {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(24, 37, 69, 0.89), rgba(24, 37, 69, 0.89)), url(../images/homepage_02.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 799px) {
    .homepage .homepage_about {
      height: 100%;
      padding: 80px 20px; } }
  .homepage .homepage_about .container-sm h2, .homepage .homepage_about .container-sm h3 {
    color: white;
    margin-bottom: 32px; }
    .homepage .homepage_about .container-sm h2:first-of-type, .homepage .homepage_about .container-sm h3:first-of-type {
      margin-bottom: 0; }
  .homepage .homepage_about .container-sm .btn {
    margin-top: 24px; }

.homepage .homepage_promo .container-md {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 90px auto 120px auto; }
  @media only screen and (max-width: 799px) {
    .homepage .homepage_promo .container-md {
      flex-direction: column; } }
  .homepage .homepage_promo .container-md .col-2 {
    width: calc(50% - 40px); }
    @media only screen and (max-width: 799px) {
      .homepage .homepage_promo .container-md .col-2 {
        width: 100%; } }
    .homepage .homepage_promo .container-md .col-2 h2, .homepage .homepage_promo .container-md .col-2 h3 {
      margin-bottom: 20px; }
    @media only screen and (max-width: 799px) {
      .homepage .homepage_promo .container-md .col-2 h3 {
        font-size: 18px; } }
    .homepage .homepage_promo .container-md .col-2 p {
      font-weight: 300;
      margin-bottom: 40px; }
    @media only screen and (max-width: 799px) {
      .homepage .homepage_promo .container-md .col-2 img {
        margin-top: 32px; } }

.swiper-container {
  width: 728px;
  height: auto; }
  @media only screen and (max-width: 799px) {
    .swiper-container {
      max-width: 300px; } }
  .swiper-container .swiper-wrapper {
    margin: 32px 0; }
    @media only screen and (max-width: 799px) {
      .swiper-container .swiper-wrapper {
        margin: 25px 0; } }
    .swiper-container .swiper-wrapper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      max-width: 728px;
      max-height: 90px;
      overflow: hidden; }
      @media only screen and (max-width: 799px) {
        .swiper-container .swiper-wrapper .swiper-slide img {
          width: 300px;
          height: 50px; } }
  .swiper-container .swiper-pagination {
    position: static;
    margin: 48px auto 0 auto; }
    @media only screen and (max-width: 799px) {
      .swiper-container .swiper-pagination {
        margin-top: 25px; } }
    .swiper-container .swiper-pagination .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 10px;
      background: white;
      opacity: 1; }
    .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
      background: #50E3B3; }

.subscription .intro {
  padding-top: 50px;
  padding-bottom: 50px; }
  .subscription .intro .container-md {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; }
    .subscription .intro .container-md .intro__hero {
      width: 100%;
      display: flex;
      align-items: flex-end;
      border-bottom: 2px solid #414042; }
      @media only screen and (max-width: 799px) {
        .subscription .intro .container-md .intro__hero {
          flex-direction: column;
          align-items: center;
          border-bottom: 1px solid #797672; } }
      .subscription .intro .container-md .intro__hero h2, .subscription .intro .container-md .intro__hero img {
        flex: 1; }
      .subscription .intro .container-md .intro__hero h2 {
        margin-bottom: 16px; }
      .subscription .intro .container-md .intro__hero img {
        width: 100%;
        max-width: 600px;
        margin-bottom: -2px;
        margin-right: 25px; }
        @media only screen and (max-width: 799px) {
          .subscription .intro .container-md .intro__hero img {
            width: calc(100% - 50px);
            margin-left: 25px;
            margin-bottom: -1px; } }
    .subscription .intro .container-md p {
      margin: 50px 200px 0 200px;
      text-align: center; }
      @media only screen and (max-width: 799px) {
        .subscription .intro .container-md p {
          margin: 24px 0 0 0; } }

.pricing .container-xl .row {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }
  @media only screen and (max-width: 799px) {
    .pricing .container-xl .row {
      flex-direction: column; } }
  .pricing .container-xl .row .pricing-plan {
    width: 25%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 799px) {
      .pricing .container-xl .row .pricing-plan {
        width: 100%;
        margin-bottom: 32px; } }
    .pricing .container-xl .row .pricing-plan.description .pricing-plan__header {
      height: 100%;
      justify-content: center;
      border: 1px solid #D5D5D5; }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan.description .pricing-plan__header {
          flex-direction: row;
          flex-wrap: wrap;
          text-align: left;
          border: none; } }
      .pricing .container-xl .row .pricing-plan.description .pricing-plan__header p {
        font-weight: 400; }
        @media only screen and (max-width: 799px) {
          .pricing .container-xl .row .pricing-plan.description .pricing-plan__header p:first-of-type {
            flex: 1; } }
        .pricing .container-xl .row .pricing-plan.description .pricing-plan__header p:last-of-type {
          font-size: 25px;
          font-weight: 800;
          color: #FFCD81; }
          @media only screen and (max-width: 799px) {
            .pricing .container-xl .row .pricing-plan.description .pricing-plan__header p:last-of-type {
              width: 100%; } }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan.description .pricing-plan__header .toggle-btn {
          display: inline-block;
          margin: 0; } }
      .pricing .container-xl .row .pricing-plan.description .pricing-plan__header p, .pricing .container-xl .row .pricing-plan.description .pricing-plan__header strong {
        color: black; }
    @media only screen and (max-width: 799px) {
      .pricing .container-xl .row .pricing-plan.description .information {
        display: none; } }
    .pricing .container-xl .row .pricing-plan.description .btn,
    .pricing .container-xl .row .pricing-plan.description .information li:last-of-type p,
    .pricing .container-xl .row .pricing-plan.description .information li:last-of-type a {
      opacity: 0;
      visibility: hidden; }
    .pricing .container-xl .row .pricing-plan:first-of-type .information li, .pricing .container-xl .row .pricing-plan._green .information li, .pricing .container-xl .row .pricing-plan._lorange .information li, .pricing .container-xl .row .pricing-plan._orange .information li {
      display: flex;
      flex-direction: column;
      padding: 24px 32px;
      border: 1px solid #D5D5D5;
      box-sizing: content-box; }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan:first-of-type .information li, .pricing .container-xl .row .pricing-plan._green .information li, .pricing .container-xl .row .pricing-plan._lorange .information li, .pricing .container-xl .row .pricing-plan._orange .information li {
          flex-direction: row;
          align-items: center; } }
      .pricing .container-xl .row .pricing-plan:first-of-type .information li .pricing__price, .pricing .container-xl .row .pricing-plan._green .information li .pricing__price, .pricing .container-xl .row .pricing-plan._lorange .information li .pricing__price, .pricing .container-xl .row .pricing-plan._orange .information li .pricing__price {
        color: #50E3B3;
        font-size: 36px;
        margin-bottom: 16px; }
      .pricing .container-xl .row .pricing-plan:first-of-type .information li p, .pricing .container-xl .row .pricing-plan._green .information li p, .pricing .container-xl .row .pricing-plan._lorange .information li p, .pricing .container-xl .row .pricing-plan._orange .information li p {
        margin: 0; }
        .pricing .container-xl .row .pricing-plan:first-of-type .information li p.info_mobile, .pricing .container-xl .row .pricing-plan._green .information li p.info_mobile, .pricing .container-xl .row .pricing-plan._lorange .information li p.info_mobile, .pricing .container-xl .row .pricing-plan._orange .information li p.info_mobile {
          display: none; }
          @media only screen and (max-width: 799px) {
            .pricing .container-xl .row .pricing-plan:first-of-type .information li p.info_mobile, .pricing .container-xl .row .pricing-plan._green .information li p.info_mobile, .pricing .container-xl .row .pricing-plan._lorange .information li p.info_mobile, .pricing .container-xl .row .pricing-plan._orange .information li p.info_mobile {
              display: inline-block; } }
      .pricing .container-xl .row .pricing-plan:first-of-type .information li img, .pricing .container-xl .row .pricing-plan._green .information li img, .pricing .container-xl .row .pricing-plan._lorange .information li img, .pricing .container-xl .row .pricing-plan._orange .information li img {
        width: 24px;
        height: auto; }
    .pricing .container-xl .row .pricing-plan:first-of-type .information li:not(:last-of-type), .pricing .container-xl .row .pricing-plan._green .information li:not(:last-of-type), .pricing .container-xl .row .pricing-plan._lorange .information li:not(:last-of-type), .pricing .container-xl .row .pricing-plan._orange .information li:not(:last-of-type) {
      height: 70px;
      padding: 0 24px;
      justify-content: center; }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan:first-of-type .information li:not(:last-of-type), .pricing .container-xl .row .pricing-plan._green .information li:not(:last-of-type), .pricing .container-xl .row .pricing-plan._lorange .information li:not(:last-of-type), .pricing .container-xl .row .pricing-plan._orange .information li:not(:last-of-type) {
          justify-content: space-between;
          padding: 0 32px; } }
    @media only screen and (max-width: 799px) {
      .pricing .container-xl .row .pricing-plan:first-of-type .information .pricing__price, .pricing .container-xl .row .pricing-plan._green .information .pricing__price, .pricing .container-xl .row .pricing-plan._lorange .information .pricing__price, .pricing .container-xl .row .pricing-plan._orange .information .pricing__price {
        display: none; } }
    .pricing .container-xl .row .pricing-plan:first-of-type .pricing__price, .pricing .container-xl .row .pricing-plan._green .pricing__price, .pricing .container-xl .row .pricing-plan._lorange .pricing__price, .pricing .container-xl .row .pricing-plan._orange .pricing__price {
      font-weight: 800;
      font-size: 45px;
      text-align: center; }
    .pricing .container-xl .row .pricing-plan:first-of-type .btn, .pricing .container-xl .row .pricing-plan._green .btn, .pricing .container-xl .row .pricing-plan._lorange .btn, .pricing .container-xl .row .pricing-plan._orange .btn {
      width: auto;
      box-sizing: border-box;
      padding: 18px 24px;
      font-weight: 800; }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan:first-of-type .btn, .pricing .container-xl .row .pricing-plan._green .btn, .pricing .container-xl .row .pricing-plan._lorange .btn, .pricing .container-xl .row .pricing-plan._orange .btn {
          width: 100%;
          padding-top: 13px;
          padding-bottom: 13px; } }
    .pricing .container-xl .row .pricing-plan._green .pricing-plan__header {
      background-color: #50E3B3; }
    .pricing .container-xl .row .pricing-plan._green .information li .pricing__price {
      color: #50E3B3; }
    .pricing .container-xl .row .pricing-plan._lorange .pricing-plan__header {
      background-color: #FFCD81; }
    .pricing .container-xl .row .pricing-plan._lorange .information li .pricing__price {
      color: #FFCD81; }
    .pricing .container-xl .row .pricing-plan._orange .pricing-plan__header {
      background-color: #FFB74A; }
    .pricing .container-xl .row .pricing-plan._orange .information li .pricing__price {
      color: #FFB74A; }
    .pricing .container-xl .row .pricing-plan .pricing-plan__header {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan .pricing-plan__header {
          margin-bottom: 4px; } }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header * {
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        color: white; }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header li .pricing__discount, .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__name, .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__count {
        font-size: 21px; }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__name p {
        text-transform: uppercase;
        font-weight: 800; }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__name._icon p {
        position: relative;
        padding-left: 32px; }
        .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__name._icon p:before {
          content: url(../images/information.svg);
          position: absolute;
          top: 0;
          left: 0; }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__count {
        margin-bottom: 16px; }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header li.plan__pricing .pricing__discount {
        color: #474648;
        font-weight: 600;
        text-decoration: line-through; }
      .pricing .container-xl .row .pricing-plan .pricing-plan__header li:last-of-type .pricing__price {
        font-weight: 800;
        font-size: 45px; }
    .pricing .container-xl .row .pricing-plan > .btn {
      margin: 40px 32px; }
      @media only screen and (max-width: 799px) {
        .pricing .container-xl .row .pricing-plan > .btn {
          display: none; } }

.video {
  padding: 140px 0; }
  .video .container-md {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 799px) {
      .video .container-md {
        flex-direction: column; } }
    .video .container-md .video__text {
      max-width: 700px; }
      .video .container-md .video__text h2 {
        margin-bottom: 32px; }
    .video .container-md a {
      position: relative;
      max-width: 240px;
      display: flex;
      align-items: center;
      padding: 16px;
      text-align: left;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.2;
      color: #6D7893;
      border-color: #6D7893;
      border-radius: 37px;
      padding-left: 70px;
      background: url("../images/play.svg") no-repeat 16px center; }

.toggle {
  display: none; }
  .toggle + .toggle-btn {
    box-sizing: border-box; }
    .toggle + .toggle-btn::selection {
      background: none; }
  .toggle + .toggle-btn {
    outline: 0;
    display: inline-block;
    width: 70px;
    height: auto;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .toggle + .toggle-btn:after, .toggle + .toggle-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 23px;
      height: 23px; }
    .toggle + .toggle-btn:after {
      left: 0; }
    .toggle + .toggle-btn:before {
      display: none; }
  .toggle:checked + .toggle-btn:after {
    left: 50%; }

.toggle-light + .toggle-btn {
  margin: 16px 0 8px 0;
  border: 1px solid #A0A0A1;
  border-radius: 2em;
  padding: 6px 7px;
  transition: all .4s ease; }
  .toggle-light + .toggle-btn:after {
    border-radius: 50%;
    background: #C2F5E5;
    border: 1px solid #50E3B3;
    transition: all .2s ease; }

._icon-grey p {
  position: relative; }
  ._icon-grey p:before {
    content: url(../images/information-grey.svg);
    position: absolute;
    top: -2px;
    left: -38px; }
