@import 'mixin';

footer {
    background: $blue;
    
    .container-xl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1200px;
        
        @include media('mobile') {
            flex-direction: column;
            width: 100%;
        }
    }

    
    .footer__upper {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        @include media('mobile') {
            flex-direction: column;
            padding-bottom: 0;
        }

        > div,
        > ul {
            padding: 10px 0;
        }

        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: white;
        }

        .footer__nav,
        .footer__location {
            border-right: 1px solid #6D7893;

            @include media('mobile') {
                border-right: none;
                border-bottom: 1px solid #6D7893;
            }
        }

        .footer__cta {
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include media('mobile') {
                order: 3;
                padding: 35px 0 0 0;
                align-items: flex-start;
            }

            p {
                margin-bottom: 24px;
                color: white;
                font-size: 12px;
                font-weight: 300;
                text-align: center;

                @include media('mobile') {
                    display: none;
                }
            }

            .btn {
                font-size: 14px;
                padding: 10px 24px;
            }
        }

        .footer__nav {
            width: 15%;

            li {
                margin-bottom: 16px;
            }

            &:first-of-type {
                @include media('mobile') {
                    order: 1;
                    padding-bottom: 0;
                    border: 0;
                }
            }
            
            &:last-of-type {
                @include media('mobile') {
                    order: 2;
                    padding-top: 0;
                    border: 0;
                }
            }
        }

        .footer__location {
            width: 25%;

            @include media('mobile') {
                order: 5;
                padding-top: 40px;
                padding-bottom: 40px;
                border: none;
            }

            > p {
                margin-bottom: 5px;
            }

            p {
                color: white;
            }
            
            .directions {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                img {
                    width: auto;
                    margin-right: 10px;    
                }
            }

            .opening-hours {
                p {
                    font-size: 13px;
                    margin-bottom: 0;
                }
            }
        }
        
        .footer__social {
            width: 15%;

            @include media('mobile') {
                order: 4;
                padding-top: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid #6D7893;
            }

            a {
                display: inline-block;

                svg {
                    width: 40px;
                    height: 40px;
                    display: block;

                    path {
                        transition: all .2s ease-in-out;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: $green;
                        }
                    }
                }
            }
        }

        .footer__nav,
        .footer__location,
        .footer__cta,
        .footer__social {
            @include media('mobile') {
                padding-left: 35px;
                padding-right: 35px;
                box-sizing: border-box;
                width: 100%;
            }
        }
    }

    .footer__lower {
        width: 100%;
        padding: 16px 0;
        border-top: 1px solid #6D7893;

        @include media('mobile') {
            width: auto;
            padding: 40px 0 0 0;
        }

        .container-xl {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media('mobile') {
                flex-direction: column;
                align-items: flex-start;
            }

            a, p {
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 300;
                color: white;

                @include media('mobile') {
                    padding-left: 35px;
                    padding-right: 35px;
                }
            }
            a:first-of-type {
                @include media('mobile') {
                    margin-bottom: 16px;
                }
            }

            p {
                font-family: 'Montserrat', sans-serif;

                @include media('mobile') {
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 10px;
                    border-top: 1px solid #6D7893;
                    padding: 16px 35px;
                    margin-top: 35px;
                }
            }
        }
    }
}