.header {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    box-sizing: border-box;
    z-index: 10;

    transition: top 0.2s ease-in-out;

    @include media('mobile') {
        position: fixed;
        justify-content: space-between;
        background-color: #24345C;
        top: 0;
        padding: 8px 20px;
    }

    .header__burger {
        display: none;
        position: relative;
        height: 20px;
        width: 27px;
        cursor: pointer;

        @include media('mobile') {
            display: block;
        }

        .header__burger___line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            
            transition: all .3s ease-in-out;
            
            
            &:nth-of-type(1) {
                top: 0px;
            }
            &:nth-of-type(2) {
                top: 9px;
            }
            &:nth-of-type(3) {
                bottom: 0;
            }
        }
        
        &.active {
            position: relative;

            .header__burger___line {
                position: absolute;
                bottom: 9px;
                
                &:nth-of-type(1) {
                    transform: rotate(45deg);
                    top: 9px;
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    
    .logo {
        padding-right: 24px;
    }

    .header__nav {
        width: 100%;
        display: flex;
        align-items: center;

        @include media('mobile') {
            position: absolute;
            left: 0;
            top: 67px;
            width: 100%;
            height: calc(100vh - 67px);
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            padding: 40px 25px;
            box-sizing: border-box;
            z-index: 10;
            visibility: visible;
            overflow: hidden;
            transform: translateX(-100%);
            background-color: #24345C;
            transition: all 0.4s ease-in-out;
        }

        &.slide-in {
            transform: translateX(0);
            visibility: visible;
        }

        .header__links {
            display: flex;
            
            @include media('mobile') {
                order: 2;
                flex-direction: column;
            }
            
            li {
                a {
                    display: block;
                    padding: 0 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    font-size: 18px;
                    color: white;

                    @include media('mobile') {
                        padding: 16px 0;
                        font-size: 30px;
                    }
                }
            }
        }
    
        .btn {
            margin: 0 auto;
            
            @include media('mobile') {
                order: 3;
            }
        }
        
        .header__panel {
            display: flex;

            @include media('mobile') {
                order: 1;
                justify-content: space-between;
            }
            
            .header__lang {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin-left: 40px;
        
                a { 
                    display: block;
                    
                    img {
                        display: block;
                    }
        
                    &.chevron {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}