$breakpoints: (
	"mobile": 800px,
	"tablet": 1024px,
	"laptop": 1600px
	);
	
	@mixin media($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

$green: #50E3B3;
$Lorange: #FFCD81;
$orange: #FFB74A;
$blue: #24345C;