@import 'mixin';
@import 'header';
@import 'footer';

html {
    height: 100%;
}

body {
    margin: 0;

    &.overflow {
        overflow: hidden;
    }

    &.pricing {
        .header {
            background-color: #24345C;
        }
    }
    
    &.home {
        .header {
            position: absolute;
        }
    }
}

h1,h2,h3 {
    margin: 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;

    @include media('mobile') {
        font-size: 21px;
    }
}

h2 {
    font-size: 38px;
    line-height: 46px;
    color: #414042;

    @include media('mobile') {
        font-size: 21px;
        line-height: 30px;
    }
}

h3 {
    font-size: 20px;
    line-height: 32px;
    color: #6B696C;

    @include media('mobile') {
        font-size: 14px;
        line-height: 22px;
    }
}

p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    color: #414042;

    @include media('mobile') {
        font-size: 14px;
        line-height: 22px;
    }
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
    background: #50E3B3;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    transition: background .2s ease-in-out;

    @include media('mobile') {
        width: 100%;
    }

    font-size: 18px;
    padding: 18px 24px;
    border-radius: 32px;
    line-height: 24px;

    &_border {
        background: transparent;
        border: 2px solid #50E3B3;
    }
    &_green {
        background: $green;
    }
    &_blue {
        background: $blue;
    }
    &_lorange {
        background: $Lorange;
    }
    &_orange {
        background: $orange;
    }
    &_blue {
        background: $blue;
    }

    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 16px;

        svg {
            padding-right: 16px;
        }

        &:hover {
            background: #4CD2A7;
        }
    }
}

.btn-login {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;

    svg {   
        margin-left: 8px;
    }
}

.container-sm {
    width: 850px;
    margin: 0 auto;
}
.container-md {
    width: 1080px;
    margin: 0 auto;
}
.container-xl {
    width: 1230px;
    margin: 0 auto;
}

.container-sm,
.container-md,
.container-xl {
    @include media('mobile') {
        width: 100%;
    }
}

.search-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    label, p {
        color: black;
    }
    
    .input-container {
        position: relative;
        box-sizing: border-box;
        
        @include media('mobile') {
            margin-bottom: 16px;
        }
        
        &.location {
            width: calc(50% - 4px);

            @include media('mobile') {
                width: 100%;
            }
        }
        &.type {
            width: calc(25% - 4px);

            @include media('mobile') {
                width: 100%;
            }
        }

        input,
        select {
            width: 100%;
            height: 56px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            box-sizing: border-box;
            background: white;

            font-size: 16.2px;
            font-family: 'Source Sans Pro', sans-serif;
            padding-left: 16px;
        }

        select {
            &:focus,
            &:active {
                .icon24 {
                    transform: rotate(90deg);
                }
            }
        }

        .icon24 {
            position: absolute;
            right: 0;
            top: 0;
            padding: 16px;
            pointer-events: none;

            transition: transform .2s ease-in-out;
        }
    }

    .btn {
        width: calc(25% - 4px);
        height: 56px;

        @include media('mobile') {
            width: 100%;
        }
    }
}

.baner-lg,
.banner-sm {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: auto;
    }
}

.baner-sm {
    max-width: 728px;
    max-height: 90px;
    
    @include media('mobile') {
        max-width: 300px;
        max-height: 50px;
    }
}

.baner-lg {
    max-width: 970px;
    max-height: 250px;
    margin: 90px auto;
    
    @include media('mobile') {
        max-width: 300px;
    }
}

section {
    @include media('mobile') {
      padding: 0 24px;
    }
} 

.homepage {
    .hero-search {
        height: 100vh;
        background: linear-gradient(360deg,
            rgba(0, 0, 0, 0.0001) 13%, 
            rgba(0, 0, 0, 0.3) 96.75%), url(../images/homepage_01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        .container-sm {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
    
            h1 {
                margin: auto 0;
                padding-top: 86px;
                text-align: center;
                color: white;
            }
        }
    }
    
    .homepage_about {
        height: 100vh;
        display: flex;
        align-items: center;
        background: linear-gradient(
            rgba(24, 37, 69, 0.89),
            rgba(24, 37, 69, 0.89)),
            url(../images/homepage_02.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @include media('mobile') {
            height: 100%;
            padding: 80px 20px;
        }

        .container-sm {
            h2,h3 {
                color: white;
                margin-bottom: 32px;

                &:first-of-type {
                    margin-bottom: 0;
                }
            }

            .btn {
                margin-top: 24px;
            }
        }
    }

    .homepage_promo {
        .container-md {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 90px auto 120px auto;

            @include media('mobile') {
                flex-direction: column;
            }
            
            .col-2 {
                width: calc(50% - 40px);

                @include media('mobile') {
                    width: 100%;
                }

                h2, h3 {
                    margin-bottom: 20px;

                }
                h3 {
                    @include media('mobile') {
                        font-size: 18px;
                    }
                }
                
                p {
                    font-weight: 300;
                    margin-bottom: 40px;
                }

                img {
                    @include media('mobile') {
                        margin-top: 32px;
                    }
                }
            }
        }
    }
}

.swiper-container {
    width: 728px;
    height: auto;

    @include media('mobile') {
        max-width: 300px;
    }

    .swiper-wrapper {
        margin: 32px 0;

        @include media('mobile') {
            margin: 25px 0;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            max-width: 728px;
            max-height: 90px;
            overflow: hidden;
            
            img {
              @include media('mobile') {
                width: 300px;
                height: 50px;
              }
            }
        }
    }

    .swiper-pagination {
        position: static;
        margin: 48px auto 0 auto;

        @include media('mobile') {
            margin-top: 25px;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 10px;
            background: white;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: $green;
        }
    }
}

.subscription {
    .intro {
        padding-top: 50px;
        padding-bottom: 50px;

        .container-md {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            
            .intro__hero {
                width: 100%;
                display: flex;
                align-items: flex-end;
                border-bottom: 2px solid #414042;

                @include media('mobile') {
                    flex-direction: column;
                    align-items: center;
                    border-bottom: 1px solid #797672;
                }
                
                h2, img {
                    flex: 1;
                }

                h2 {
                    margin-bottom: 16px;
                }
        
                img {
                    width: 100%;
                    max-width: 600px;
                    margin-bottom: -2px;
                    margin-right: 25px;
                    
                    @include media('mobile') {
                        width: calc(100% - 50px);
                        margin-left: 25px;
                        margin-bottom: -1px;
                    }
                }
            }
    
            p {
                margin: 50px 200px 0 200px;
                text-align: center;

                @include media('mobile') {
                    margin: 24px 0 0 0;
                }
            }
        }
    }
}

.pricing {
    .container-xl {
        .row {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;

            @include media('mobile'){
                flex-direction: column;
            }
            
            .pricing-plan {
                width: 25%;
                display: flex;
                flex-direction: column;

                @include media('mobile'){
                    width: 100%;
                    margin-bottom: 32px;
                }
                
                &.description {
                    .pricing-plan__header {
                        height: 100%;
                        justify-content: center;
                        border: 1px solid #D5D5D5;

                        @include media('mobile'){
                            flex-direction: row;
                            flex-wrap: wrap;
                            text-align: left;
                            border: none;
                        }

                        p {
                            font-weight: 400;
                            
                            &:first-of-type {
                                @include media('mobile'){
                                    flex: 1;
                                }
                            }
                            
                            &:last-of-type {
                                font-size: 25px;
                                font-weight: 800;
                                color: #FFCD81;

                                @include media('mobile'){
                                    width: 100%;
                                }
                            }
                        }
                        .toggle-btn {
                            @include media('mobile'){
                                display: inline-block;
                                margin: 0;
                            }
                        }

                        p, strong {
                            color: black;
                        }
                    }

                    .information {
                        @include media('mobile'){
                            display: none;
                        }
                    }
                    
                    .btn,
                    .information li:last-of-type p,
                    .information li:last-of-type a {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                &:first-of-type,
                &._green,
                &._lorange,
                &._orange {
                    .information {
                        li {
                            display: flex;
                            flex-direction: column;
                            padding: 24px 32px;
                            border: 1px solid #D5D5D5;
                            box-sizing: content-box;

                            @include media('mobile'){
                                flex-direction: row;
                                align-items: center;
                            }
                            
                            .pricing__price {
                                color: $green;
                                font-size: 36px;
                                margin-bottom: 16px;
                            }

                            p {
                                margin: 0;

                                &.info_mobile {
                                    display: none;

                                    @include media('mobile'){
                                        display: inline-block;
                                    }
                                }
                            }
                            
                            img {
                                width: 24px;
                                height: auto;
                            }
                        }

                        li:not(:last-of-type) {
                            height: 70px;
                            padding: 0 24px;
                            justify-content: center;

                            @include media('mobile') {
                                justify-content: space-between;
                                padding: 0 32px;
                            }
                        }

                        .pricing__price {
                            @include media('mobile'){
                                display: none;
                            }
                        }
                    }

                    .pricing__price {
                        font-weight: 800;
                        font-size: 45px;
                        text-align: center;
                    }

                    .btn {
                        width: auto;
                        box-sizing: border-box;
                        padding: 18px 24px;
                        font-weight: 800;

                        @include media('mobile'){
                            width: 100%;
                            padding-top: 13px;
                            padding-bottom: 13px;
                        }
                    }
                }

                &._green {
                    .pricing-plan__header {
                        background-color: $green;
                    }
                    .information {
                        li {
                            .pricing__price {
                                color: $green;
                            }
                        }
                    }
                }
                &._lorange {
                    .pricing-plan__header {
                        background-color: #FFCD81;
                    }
                    .information {
                        li {
                            .pricing__price {
                                color: #FFCD81;
                            }
                        }
                    }
                }
                &._orange {
                    .pricing-plan__header {
                        background-color: #FFB74A;
                    }
                    .information {
                        li {
                            .pricing__price {
                                color: #FFB74A;
                            }
                        }
                    }
                }

                .pricing-plan__header {
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    
                    @include media('mobile'){
                        margin-bottom: 4px;
                    }
                    
                    * {
                        margin-bottom: 0;
                        font-family: 'Montserrat', sans-serif;
                        color: white;
                    }
                    
                    li {
                        .pricing__discount,
                        &.plan__name,
                        &.plan__count {
                            font-size: 21px;
                        }

                        &.plan__name {
                            p {
                                text-transform: uppercase;
                                font-weight: 800;
                            }

                            &._icon {
                                p {
                                    position: relative;
                                    padding-left: 32px;
            
                                    &:before {
                                        content: url(../images/information.svg);
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                }
                            }
                        }

                        &.plan__count {
                            margin-bottom: 16px;
                        }

                        &.plan__pricing {
                            .pricing__discount {
                                color: #474648;
                                font-weight: 600;
                                text-decoration: line-through;
                            }
                        }

                        &:last-of-type {
                            .pricing__price {
                                font-weight: 800;
                                font-size: 45px;
                            }
                        }
                    }
                }

                > .btn {
                    margin: 40px 32px;

                    @include media('mobile'){
                        display: none;
                    }
                }
            }
        }
    }
}

.video {
    padding: 140px 0;

    .container-md {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('mobile') {
            flex-direction: column;
        }
        
        .video__text {
            max-width: 700px;

            h2 {
                margin-bottom: 32px;
            }
        }

        a {
            position: relative;
            max-width: 240px;
            display: flex;
            align-items: center;
            padding: 16px;
            
            text-align: left;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.2;
            color: #6D7893;
            border-color: #6D7893;
            border-radius: 37px;
            padding-left: 70px;

            background: url("../images/play.svg") no-repeat 16px center;
        }
    }
}

.toggle {
    display: none;

    & + .toggle-btn {
        box-sizing: border-box;
        &::selection {
            background: none;
        }
    }
    
    + .toggle-btn {
        outline: 0;
        display: inline-block;
        width: 70px;
        height: auto;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 23px;
            height: 23px;
        }
    
        &:after {
            left: 0;
        }
    
        &:before {
            display: none;
        }
    }

    &:checked + .toggle-btn:after {
        left: 50%;
    }
}

.toggle-light {
    + .toggle-btn {
        margin: 16px 0 8px 0;
        border: 1px solid #A0A0A1;
        border-radius: 2em;
        padding: 6px 7px;
        transition: all .4s ease;

        &:after {
            border-radius: 50%;
            background: #C2F5E5;
            border: 1px solid #50E3B3;
            transition: all .2s ease;
        }
    }
}

._icon-grey {
    p {
        position: relative;

        &:before {
            content: url(../images/information-grey.svg);
            position: absolute;
            top: -2px;
            left: -38px;
        }
    }
}